* {
	margin: 0;
	box-sizing: border-box;
}

.container {
	display: grid;
	grid-template-rows: 100px 600px;
	grid-template-areas:
		'header'
		'game-area';
}

.header {
	grid-area: header;
}

.game-area {
	display: grid;
	grid-template-rows: 1fr 3fr 1fr 1fr;
	grid-template-columns: 1fr 3fr;
	grid-template-areas:
		'game-info         game-info'
		'options-container gamesboard-container'
		'controls          controls';
	grid-area: game-area;
	gap: 40px;
}

.options-container {
	grid-area: options-container;
	height: 300px;
	min-width: 200px;
	display: grid;
}

.options-container-vertical {
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}


.game-info {
	grid-area: game-info;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
}

.gamesboard-container {
	grid-area: gamesboard-container;
	width: 650px;
	height: 300px;
	display: flex;
	justify-content: space-between;
	justify-self: center;
}

.game-board {
	width: 303px;
	height: 303px;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
	gap: 1px;
	background-color: black;
	border: 1px solid black;
}

.cell {
	width: 100%;
	height: 100%;
	background-color: white;
}

.controls {
	grid-area: controls;
	display: flex;
	justify-content: center;
	gap: 40px;
}

button {
	height: 30px;
}

.options-container > div {
	opacity: 0.8;
}

.destroyer {
	background-color: brown;
	width: 60px;
	height: 30px;
}

.submarine {
	background-color: green;
	width: 90px;
	height: 30px;
}

.cruiser {
	background-color: purple;
	width: 90px;
	height: 30px;
}

.battleship {
	background-color: orange;
	width: 120px;
	height: 30px;
}

.carrier {
	background-color: blue;
	width: 150px;
	height: 30px;
}

.hit {
	background-color: rgba(0, 128, 0, 0.432);
}

.miss {
	background-color: rgba(128, 0, 0, 0.432);
}
