@font-face {
	font-family: 'Boldean';
	src: url('./BOLDEAN.ttf') format('truetype');
}

* {
	margin: 0;
	box-sizing: border-box;
	background-color: rgb(210, 230, 230);
}

.container {
	display: grid;
	grid-template-rows: 100px 600px;
	grid-template-areas:
		'header'
		'game-area';
}

.header {
	font-family: 'Boldean';
	letter-spacing: 0.5rem;
	text-align: center;
	align-self: center;
	grid-area: header;
}

.game-area {
	display: grid;
	grid-template-rows: 1fr 3fr 2fr 1fr;
	grid-template-columns: 1fr 3fr;
	grid-template-areas:
		'game-info            game-info'
		'gamesboard-container gamesboard-container'
		'options-container    options-container'
		'controls             controls';
	grid-area: game-area;
	gap: 40px;
}

.options-container {
	grid-area: options-container;
	min-height: 150px;
	min-width: 600px;
	display: grid;
	grid-template-columns: 2fr 1.5fr 1fr 1fr 1fr;
	justify-self: center;
}



.game-info {
	grid-area: game-info;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
}

.gamesboard-container {
	grid-area: gamesboard-container;
	width: 650px;
	height: 300px;
	display: flex;
	justify-content: space-between;
	justify-self: center;
}

.game-board {
	width: 303px;
	height: 303px;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
	gap: 1px;
	background-color: black;
	border: 1px solid black;
}

.cell {
	width: 100%;
	height: 100%;
	background-color: white;
}

.controls {
	grid-area: controls;
	display: flex;
	justify-content: center;
	gap: 40px;
}

button {
	background-color: white;
	height: 30px;
}


.destroyer {
	background-color: purple;
	width: 60px;
	height: 29px;
}

.submarine {
	background-color: green;
	width: 90px;
	height: 29px;
}

.cruiser {
	background-color: rgb(179, 16, 16);
	width: 90px;
	height: 29px;
}

.battleship {
	background-color: orange;
	width: 120px;
	height: 29px;
}

.carrier {
	background-color: blue;
	width: 150px;
	height: 30px;
}

.hit {
	z-index: 1;
	background-color: rgb(0, 0, 0);
}

.miss {
	z-index: 1;
	background-color: rgb(60, 139, 150);

}
