* {
	margin: 0;
	box-sizing: border-box;
}

.container {
	display: grid;
	grid-template-rows: 100px 600px;
	grid-template-areas: 'header'
											 'game-area'
}

.header {
	grid-area: header;
}

.game-area {
	display: grid;
	grid-template-rows: 1fr 3fr 1fr 1fr;
	grid-area: game-area;
	gap: 40px;
}

.game-info {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
}

.gamesboard-container {
	width: 650px;
	height: 300px;
	display: flex;
	justify-content: space-between;
	justify-self: center;
}

.game-board {
	width: 300px;
	height: 300px;
	display: flex;
	flex-wrap: wrap;
}

.cell {
	width: 30px;
	height: 30px;
	border: 1px solid black;
}

.controls {
	display: flex;
	justify-content: center;
	gap: 40px;
}

button {
	height: 30px;
}

.destroyer {
	background-color: brown;
}

.submarine {
	background-color: green;
}

.cruiser {
	background-color: purple;
}

.battleship {
	background-color: orange;
}

.carrier {
	background-color: blue;
}

.destroyer-preview {
	width: 60px;
	height: 30px;
	margin: 3px;
}

.submarine-preview {
	width: 90px;
	height: 30px;
	margin: 3px;
}

.cruiser-preview {
	width: 90px;
	height: 30px;
	margin: 3px;
}

.battleship-preview {
	width: 120px;
	height: 30px;
	margin: 3px;
}

.carrier-preview {
	width: 150px;
	height: 30px;
	margin: 3px;
}

.hit {
	background-color: rgba(0, 128, 0, 0.432);
}

.miss {
	background-color: rgba(128, 0, 0, 0.432);
}
